// colors
@light-gray: #F0F0F0;
@dark-gray: #202020;
@red: #FF4136;
@black: black;
// semantic coloring
@danger: @red;
@dark-text: #111111;
@light-text: @light-gray;
// fonts
@main-fonts: sans;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: @main-fonts;
  line-height: 1.3;
  color: @light-text;
  background-color: @black;
}
h1 {
	text-align: center;
	font-size: 28px;
	margin-bottom: 1em;
	margin-top: .5em;
}
#buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 1em;
	justify-items: center;
	align-items: center;
	max-width: 500px;
	margin: auto;
	p {
		font-weight: 900;
	}
}
#indicator-light {
	border: 2px solid @light-gray;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}
#left {
	justify-self: end;
}
#right {
	justify-self: start;
}
#down {
	margin-bottom: 2em;
}
#cd {
	justify-self: end;
}
.btn-square(@color) {
	.btn(@color);
	border-radius: 0;
}

.btn-rectangle(@color) {
	.btn-square(@color);
	padding: .5em 0;
	width: 100px;
}

.btn-up(@color) {
	.btn-direction(@color);
	border-radius: 50px 50px 0 0;
}
.btn-down(@color) {
	.btn-direction(@color);
	border-radius: 0 0 50px 50px;
}
.btn-direction(@color) {
	.btn(@color);
	padding: 1.5em 1em;
}
.btn(@color) {
  background-color: @color;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: @light-gray;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: lighten(@color, 10);
  }
  &:active ~ #indicator-light {
  	background-color: red;
  }
}
.btn-danger {
  .btn(@danger);
}
.btn-normal {
  .btn(@dark-gray);
}
.btn-up-normal {
	.btn-up(@dark-gray);
}
.btn-down-normal {
	.btn-down(@dark-gray);
}
.btn-square-normal {
	.btn-square(@dark-gray);
}
.btn-rectangle-normal {
	.btn-rectangle(@dark-gray);
}
