* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans;
  line-height: 1.3;
  color: #F0F0F0;
  background-color: black;
}
h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  justify-items: center;
  align-items: center;
  max-width: 500px;
  margin: auto;
}
#buttons p {
  font-weight: 900;
}
#indicator-light {
  border: 2px solid #F0F0F0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#left {
  justify-self: end;
}
#right {
  justify-self: start;
}
#down {
  margin-bottom: 2em;
}
#cd {
  justify-self: end;
}
.btn-danger {
  background-color: #FF4136;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
}
.btn-danger:hover {
  cursor: pointer;
}
.btn-danger:active {
  background-color: #ff7169;
}
.btn-danger:active ~ #indicator-light {
  background-color: red;
}
.btn-normal {
  background-color: #202020;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
}
.btn-normal:hover {
  cursor: pointer;
}
.btn-normal:active {
  background-color: #3a3a3a;
}
.btn-normal:active ~ #indicator-light {
  background-color: red;
}
.btn-up-normal {
  background-color: #202020;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
  padding: 1.5em 1em;
  border-radius: 50px 50px 0 0;
}
.btn-up-normal:hover {
  cursor: pointer;
}
.btn-up-normal:active {
  background-color: #3a3a3a;
}
.btn-up-normal:active ~ #indicator-light {
  background-color: red;
}
.btn-down-normal {
  background-color: #202020;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
  padding: 1.5em 1em;
  border-radius: 0 0 50px 50px;
}
.btn-down-normal:hover {
  cursor: pointer;
}
.btn-down-normal:active {
  background-color: #3a3a3a;
}
.btn-down-normal:active ~ #indicator-light {
  background-color: red;
}
.btn-square-normal {
  background-color: #202020;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
  border-radius: 0;
}
.btn-square-normal:hover {
  cursor: pointer;
}
.btn-square-normal:active {
  background-color: #3a3a3a;
}
.btn-square-normal:active ~ #indicator-light {
  background-color: red;
}
.btn-rectangle-normal {
  background-color: #202020;
  border-radius: 50%;
  padding: 1em;
  border: none;
  font-size: 18px;
  color: #F0F0F0;
  border-radius: 0;
  padding: 0.5em 0;
  width: 100px;
}
.btn-rectangle-normal:hover {
  cursor: pointer;
}
.btn-rectangle-normal:active {
  background-color: #3a3a3a;
}
.btn-rectangle-normal:active ~ #indicator-light {
  background-color: red;
}
